{
  "openapi": "3.0.4",
  "info": {
    "title": "Yarmill Ingest API",
    "description": "Yarmill provides an JSON-based HTTP API to allow you to programatically ingest and manage data.",
    "contact": {
      "name": "Yarmill Support",
      "email": "support@yarmill.com"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://ingest.ms.yarmill.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/data/upload": {
      "post": {
        "summary": "Upload Data",
        "description": "",
        "requestBody": {
          "description": "The data request model containing the data to be uploaded.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DataRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DataRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ping": {
      "post": {
        "summary": "Ping",
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "DataRequestModel": {
        "type": "object",
        "properties": {
          "originId": {
            "type": "string",
            "description": "Unique identifier. That is, an identifier that is unique within the source that triggered the operation. If not provided, the system will not be able to map changes to already uploaded identical objects. Example: `2be7d766-8848-46c9-ba31-22f5fab4641b`",
            "nullable": true
          },
          "originType": {
            "type": "string",
            "description": "The type of data being uploaded to Yarmill. The data type is usually the name of the entity on the source. It is mainly used for data categorization. The same type should have the same data structure. Example: user, result, full export, etc.",
            "nullable": true
          },
          "operationType": {
            "type": "string",
            "description": "The type of operation performed. In combination with the `originId`, the system can detect whether it is a Create or Update. It can contain values: \"C\" (Create), \"U\" (Update), \"D\" (Delete).",
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "description": "Key-value object containing metadata that can be used to better understand the data. Metadata provides additional information, such as the source or version of the data. Example: ```{ \"source\": \"web\", \"version\": \"1\" }```",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true
          },
          "tags": {
            "type": "array",
            "description": "Array of tags related to the data. Used for categorization or filtering of data. Example: ```[\"new_user\", \"premium\"]```",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "data": {
            "description":"Contains structured data in JSON format. This part can contain any JSON object or array of objects. Example: ```{ \"userId\": \"3422\", \"username\": \"johndoe\", \"email\": \"johndoe@example.com\", \"age\": 30 }```",
            "nullable": true
          }
        },
        "additionalProperties": false
      }
    }
  }
}